<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="世田谷" description="Tokyo">
		<meta content="摄影" description="约拍故事">
		<meta name="viewport" content="width=device-width,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<link rel="shortcut icon" href="bitbug_favicon.ico" />
		<title>欢迎来到世田谷摄客！！</title>
		<link rel="stylesheet" type="text/css" href="leaveMesg.css" />
		<script type="text/javascript" src="jquery-1.12.4.js" charset="UTF-8"></script>
		<script type="text/javascript" src="json3.js" charset="UTF-8"></script>
		<script type="text/javascript" src="vue.js" charset="UTF-8"></script>
		<!--<script type="text/javascript" src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>-->
	</head>

	<body>
		<header id="pageHead">
			世田谷摄客<br/> SETEGAYA PHOTO
			<div id="lang">
				<a href="#" class="cls1">中文</a>
				<a href="#" class="cls1">English</a>
				<a href="javascript: void(window.open('http://translate.google.com/translate?u='+escape(location.href)+'&amp;langpair=en%7Cja', 'English_to_Japanese', 'resizable,scrollbars,status'))" class="cls1">日本語</a>
			</div>
			<img id="trimmed" src="trimmed.png" />
		</header>

		<div id="back">
			Home
			<a href="index.html" title="返回首页"><img src="setagata.jpg" /></a>
		</div>

		<article id="leaveMesg">
			<br />
			<h1>请对我们提出您的宝贵意见</h1>
			<br />
			<br />
			<!--意见提交-->
			<div id="advise">
				<div class="tip">
					<h3>昵称</h3><input type="text" maxlength="20" placeholder="亲，不得超过20个字符" required="required" v-model="usernickName"/>*</div>
				<div class="tip">
					<h3>联系电话</h3><input type="text" /></div>
				<div class="tip">
					<h3>E-mail</h3><input type="email" /></div>
				<div class="tip">
					<h3>微信ID</h3><input type="text" /></div>
				<div class="classad">
					<h3></h3><textarea placeholder="写点什么吧......" v-model="usersaying"></textarea></div>
				<button @click="leaveMsg()">提交</button>
			</div>
			<!--已有留言-->
			<div id="cobox">
				<ul>
					<li class="comment" v-for="item in commentData">
						昵称: {{item.nickName}}<br/><br/>{{item.saying}}
					</li>
				</ul>
				<p v-show="commentData.length==0"> 暂无留言......</p>
			</div>
		</article>
		<div id="aside">

		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#leaveMesg',
				data: {
					commentData: [],
					usernickName:'',
					usersaying:''
				},

				created() {
					this.get();
				},

				methods: {
					//读取、提交留言 
					get: function() {
						$.ajax({
							type: 'get',
							url: '../json/commentData.json',
							success: function(data) {
								vm.commentData = data;
							},
							error: function() {
								$('#cobox').text('留言加载失败');
							}
						});
					},
				
					leaveMsg:function(){
						vm.commentData.unshift({
						"nickName":this.usernickName,
						"saying":this.usersaying});
						vm.usernickName='';
						vm.usersaying='';
					   }

				}
			});
		</script>
	</body>

</html>